.form-control {
  text-align: left;
  margin: 0 auto;
  height: 50px;
  width: 50%;
  font-size: large;
  border-radius: 45px;
  box-shadow: 5px 5px 5px rgb(219, 214, 214);
  background-color: rgb(253, 252, 237);
}

.cardone {
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(219, 214, 214);
  position: relative;
  margin: 0 auto;
  height: 375px;
  width: 700px;
  text-align: center;
  background-color: rgb(253, 252, 237);
}

.date {
  font-size: 30px;
  font-weight: 800;
  padding: 5px;
}

.location {
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-weight: 800;
}

.temperature {
  font-weight: bold;
  font-size: 100px;
}
.col-md-2 {
  width: 110px;
  height: 150px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  position: static;
}

h3 {
  font-size: 20px;
  font-weight: 300px;
}
.week {
  width: max-content;
  height: 100px;
  margin: 0 auto;
  border-radius: 35px;
  background-color: rgb(253, 252, 237);
}

.end {
  border-radius: 0 45px 45px 0;
}

.rend {
  border-radius: 45px 0 0 45px;
}

.mid {
  border-radius: 0 0 0 0;
}

.sun {
  font-size: 30px;
  padding: 0%;
  color: rgb(255, 239, 98);
}
.cloud {
  font-size: 30px;
  color: rgb(100, 93, 93);
}

.rain {
  color: rgba(20, 20, 190, 0.705);
  font-size: 30px;
}

.forcard {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 60px;
  right: 100px;
}
body {
  font-family: "Merriweather", serif;
}
.temp {
  font-size: 20px;
  font-weight: 500;
}

a {
  font-family: "Merriweather", serif;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

button {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(253, 248, 235);
  border-radius: 45px;
  font-weight: bold;
  padding: 10px;
  transition: ease-in-out 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.description,
.wind {
  font-weight: bold;
  font-size: large;
}

small {
  text-align: center;
  display: block;
  padding: 40px;
}

.git {
  text-decoration: underline;
}
